.hero {
    display: flex;
    flex: 1;
    align-items: center;
    padding-top: 10rem; /* To account for fixed header */
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    padding-top: 1rem;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    padding-top: 1rem;
    color: var(--main-color);
}

.home-content p {
    font-size: 1.6rem;
    padding-top: 1rem;
}

.home-img img {
    width: 35vw;
    height: 80vh;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: 2px solid var(--main-color);
    border-radius: 100%;
    color: var(--text-color);
    font-size: 2rem;
    margin: 3rem 1.5rem 3rem 0;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

@media(max-width: 768px) {
    .hero {
        flex-direction: column;
    }

    .home-content {
        text-align: center;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
}

@media(max-width: 617px) {
    .home-img img {
        width: 100%;
    }
}
